* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
} 

:root {
    font-size: 62.5%;
     
    --color-base-white: hsl(0, 0%, 100%); 

    ----Platform-Aliases-Shape-principal: hsl(240, 6%, 13%); 

    --Platform-Aliases-Background: hsl(240, 5%, 7%); 

    --Brand-Colors-Explorer-dark: hsl(195, 91%, 25%); 

    --brand-color-light: hsl(195, 46%, 40%); 

    --input-bottom: hsla(0, 0%, 100%, 0.2); 

    min-width: 100%vh;
}

html, body, main, input, fieldset { font-family: "Mulish", sans-serif;} 

header {
    display: flex;
    align-items: center;
    width: 43.0rem;
    height: 7.2rem;
    padding: 1.2rem 2.8rem;
    align-items: center;
    gap: 2.5rem;

    background: var(--Brand-Colors-Explorer-dark);
}

.logo { 
    padding: 0.5rem; 

    border-radius: 9999px; 

    background: #F4FCFF; 


    gap: 2.5rem     ;
} 

.input-wrapper {
    width: 25.0rem;
    height: 4.2rem;
    display: flex;
    align-items: center;
    
    gap: 1.2rem;

    padding: 1.4rem 1.2rem 1.2rem 1.6rem;
    
    margin-right: 1.0rem;   
    line-height: 100%;
        
    border-radius: 4px;

    background: rgba(255, 255, 255, 0.20);
   
}

.input-wrapper label { 
    width: 23.2rem;
    height: 4.0rem;
    font-family: "Mulish", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 100%;
    overflow: hidden; 
    position: absolute;
    
    display: flex;
    align-items: center;
    
    color: var(--color-base-white);

    border: 0; 
    background-color: var(--brand-color-light); 
} 

.input-wrapper input::placeholder { 
   font-family: "Mulish", sans-serif; 
} 

.avatar { 
    width: 4.2rem; 
    height: 4.2rem; 

    object-fit: cover; 
    border-radius: 50%;
    
} 

.gato {
    width: 43.0rem;
    height: 21.9rem;

    border-radius: .5rem;
}
main h1 { 
    color: var(--Platform-Aliases-Shape-principal);
    font-family: "Mulish";
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
} 
main h1{ 
    padding: 2.2rem; 
    padding-bottom: 0;
}
 

main p { 
    width: 38.2rem;
    text-align: justify;
    font-weight: 400; 
    line-height: 160%; 
    font-size: 1.6rem; 
    color: var(--Platform-Aliases-Background); 

    margin: 2.2rem;

} 

.buttons { 
    display: flex;
    align-items: center;
        
    padding: 2.2rem; 
    padding-top: 8px;
    padding-bottom: 9px; 
    

    gap: 1.2rem; 
} 

.icon-up { 
    width: 1.6rem;
    height: 1.6rem;
    padding: 1.2rem;
    display: flex; 
    align-items: center; 
    justify-content: center; 

    width: 4.0rem; 
    height: 4.0rem; 

    border: none;

    border-radius: 100%; 
    background: var(--Brand-Colors-Explorer-dark); 
} 
.icon-down { 
    width: 1.6rem;
    height: 1.6rem;
    padding: 1.2rem;
    display: flex; 
    align-items: center; 
    justify-content: center; 

    width: 4.0rem; 
    height: 4.0rem; 

    border: none;

    border-radius:100%; 
    background: var(--Brand-Colors-Explorer-dark); 
} 

fieldset {
    width: 38.2rem;
    margin: 2.2rem;
    
    border: 0;

    padding-bottom: 1.9rem;
}

fieldset .tags { 
    color: var(--Platform-Aliases-Background); 
    font-family: "Mulish", sans-serif;
    font-size: 1.4rem; 
    font-style: both; 
    line-height: 160%; 
    font-weight: 400; 
} 

.item { 
    width: 43.0rem;

    display: flex; 
    align-items: center; 
    text-align: justify;
    
    padding-top: 3.1rem; 

    gap: 1.6rem; 
}

details h3 { 
    color: var(--Platform-Aliases-Shape-principal); 

    font-family: "Mulish", "sans-serif"; 

    font-size: 1.8rem; 

    font-style: both; 

    font-weight: 700; 

    line-height: 160%; 

} 

footer {
    background: var(--Brand-Colors-Explorer-dark);
    width: 43.0rem; 
    height: 6.4rem; 
    padding: 1.6rem; 

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1.0rem;
    
}
footer p { 
    color: var(--color-base-white); 
    text-align: center; 

    width: 43.0rem;
    height: 6.4rem;

    font-family: "Mulish", sans-serif; 
    font-size: 1.6rem; 
    font-style: both; 
    font-weight: 600; 
    line-height: normal; 

    opacity: .8; 
}  

@media (min-width: 1024px) {
    header { 
        display: flex; 
        width: 144.0rem; 
        height: 100%; 
        padding: 7rem auto auto 7rem; 
        align-items: center;
        justify-content: center; 
    } 

    .input-wrapper { width: 113.7rem;   }

    .gato {
        width: 80.2rem;
        height: 40.5rem;
    
        border-radius: 5px;
    }  
    main img { 

        width: 100%; 

        border: 0; 

        margin: 1.0rem 0px 0 3px; 

        border-radius: 5px; 
    }  
    
    main .icon-up img {
        width: 1.6rem;
        height: 1.6rem;

        border:0;
        margin-top: 0%;               
    } 

    main .icon-down img {
        width: 1.6rem;
        height: 1.6rem;

        border: 0;
        margin-top: 0%;
    } 

    .structure {

        width: 113.0rem;
        height: 90.0rem;
        
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 1fr);
        gap: 3rem 3rem;
        

        margin: 3.9rem 7.0rem 1.9rem ;

        display: flex;
        align-items: flex-start;
    }

    .cabeçalho {
        width: 80.3rem;
        padding-top: 3.2rem;
        
        display: flex;
        justify-content: space-between;
        gap: 0.8rem;

    }

    .cabeçalho h1 {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 160%;
    }
    
    main p {
        width: 800px;
        font-family: "Mulish", sans-serif;
        font-size: 1.6rem;
        font-style: both;
        font-weight: 400;
        line-height: 160%;
        color: var(--Platform-Aliases-Background);
        
    }
    
    .details h3 {
        color: var(--Platform-Aliases-Shape-principal, #202024);
        
        font-family: "Mulish";
        font-size: 1.8rem;
        font-style: both;
        font-weight: 700;
        line-height: 160%;
    }

    .tags span {
        color: var(--Platform-Aliases-Background);

        font-family: "Mulish", "sans-serif";
        font-size: 1.4rem;
        font-style: both;
        font-weight: 400;
        line-height: 160%;
    }

    fieldset {
        margin-top: .5rem;
        padding-top: 0;

        grid-row: 1/2;
        grid-column: 2/4;
    }

    footer {   
        width: 144.0rem;
        height: 6.4rem;     
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.0rem;
        
    }

   
}


